.DS_Store

.build
Packages
.swiftpm

xcuserdata

Fastlane/test_output
Fastlane/report.xml
.product

Pods/*
# Keep shared schemes for iOS build
!Pods/Pods.xcodeproj
Pods/Pods.xcodeproj/*
!Pods/Pods.xcodeproj/xcshareddata
