.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
.swiftpm
.product
Pods
Tests/TestProject/build
Tests/TestProject/LocalPod/Sources/R.generated.swift
Tests/TestProject/fastlane/README.md
Tests/TestProject/fastlane/report.xml
Tests/TestProject/fastlane/Appfile
Fastlane/test_output
Fastlane/report.xml
