--swiftversion 5.7
--exclude **/Mocks/**/*.swift

# rules
--commas inline
--header strip

--enable blankLineAfterImports

--disable wrapMultilineStatementBraces
--disable redundantType
--disable andOperator
--disable redundantInternal
--disable hoistAwait
