name: Regress

on: [workflow_dispatch, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: norio-nomura/action-swiftlint@3.2.1
        with: { args: --strict }

  spelling:
    runs-on: macos-11.0
    steps:
      - uses: actions/checkout@v2
      - uses: fjcaetano/mint-action@v1.0.2
        with: { package: fromkk/SpellChecker }
      - name: Check spelling
        run: sh .github/scripts/checkSpell.sh

  rugby-12.5.1:
    runs-on: macos-11.0
    steps:
      - uses: actions/checkout@v2
      - uses: maxim-lobanov/setup-xcode@v1
        with: { xcode-version: '12.5.1' }
      - name: Build Rugby
        run: |
          swift build -c release
          path=`swift build -c release --show-bin-path`
          echo "rugby_path=$path/rugby" >> $GITHUB_ENV
          swift run rugby --version
      - uses: actions/upload-artifact@v2
        with:
          name: rugby
          path: ${{ env.rugby_path }}

  rugby-12.4:
    runs-on: macos-10.0
    steps:
      - uses: actions/checkout@v2
      - uses: maxim-lobanov/setup-xcode@v1
        with: { xcode-version: '12.4' }
      - name: Build Rugby
        run: swift build -c release
#==========================================================================
  cache-both:
    needs: rugby-12.5.1
    runs-on: macos-11.0
    env: { project-directory: ./TestProject }
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with: { name: rugby }
      - run: chmod +x rugby && echo `pwd` >> $GITHUB_PATH
      - run: rugby -h
      - uses: maxim-lobanov/setup-xcode@v1
        with: { xcode-version: '12.5.1' }

      # Prepare TestProject
      - uses: ruby/setup-ruby@v1
        with: { ruby-version: 2.7.2, bundler-cache: true, working-directory: TestProject }
      - run: bundle
        working-directory: ${{ env.project-directory }}
      - uses: actions/cache@v2
        with:
          path: TestProject/Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('Podfile.lock') }}
          restore-keys: ${{ runner.os }}-pods-

      # Tests
      - name: Tests
        run: bundle exec fastlane cache_both
        working-directory: ${{ env.project-directory }}
#==========================================================================
  cache-exclude:
    needs: rugby-12.5.1
    runs-on: macos-11.0
    env: { project-directory: ./TestProject }
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with: { name: rugby }
      - run: chmod +x rugby && echo `pwd` >> $GITHUB_PATH
      - run: rugby -h
      - uses: maxim-lobanov/setup-xcode@v1
        with: { xcode-version: '12.5.1' }
        
      # Prepare TestProject
      - uses: ruby/setup-ruby@v1
        with: { ruby-version: 2.7.2, bundler-cache: true, working-directory: TestProject }
      - run: bundle
        working-directory: ${{ env.project-directory }}
      - uses: actions/cache@v2
        with:
          path: TestProject/Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('Podfile.lock') }}
          restore-keys: ${{ runner.os }}-pods-
          
      # Tests
      - name: Tests
        run: bundle exec fastlane cache_exclude
        working-directory: ${{ env.project-directory }}
#==========================================================================
  cache-config:
    needs: rugby-12.5.1
    runs-on: macos-11.0
    env: { project-directory: ./TestProject }
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with: { name: rugby }
      - run: chmod +x rugby && echo `pwd` >> $GITHUB_PATH
      - run: rugby -h
      - uses: maxim-lobanov/setup-xcode@v1
        with: { xcode-version: '12.5.1' }
        
      # Prepare TestProject
      - uses: ruby/setup-ruby@v1
        with: { ruby-version: 2.7.2, bundler-cache: true, working-directory: TestProject }
      - run: bundle
        working-directory: ${{ env.project-directory }}
      - uses: actions/cache@v2
        with:
          path: TestProject/Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('Podfile.lock') }}
          restore-keys: ${{ runner.os }}-pods-
          
      # Tests
      - name: Tests
        run: bundle exec fastlane cache_different_config
        working-directory: ${{ env.project-directory }}
#==========================================================================
  drop:
    needs: rugby-12.5.1
    runs-on: macos-11.0
    env: { project-directory: ./TestProject }
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with: { name: rugby }
      - run: chmod +x rugby && echo `pwd` >> $GITHUB_PATH
      - run: rugby -h
      - uses: maxim-lobanov/setup-xcode@v1
        with: { xcode-version: '12.5.1' }

      # Prepare TestProject
      - uses: ruby/setup-ruby@v1
        with: { ruby-version: 2.7.2, bundler-cache: true, working-directory: TestProject }
      - run: bundle
        working-directory: ${{ env.project-directory }}
      - uses: actions/cache@v2
        with:
          path: TestProject/Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('Podfile.lock') }}
          restore-keys: ${{ runner.os }}-pods-

      # Tests
      - name: Tests
        run: bundle exec fastlane drop_tests
        working-directory: ${{ env.project-directory }}
#==========================================================================
  focus:
    needs: rugby-12.5.1
    runs-on: macos-11.0
    env: { project-directory: ./TestProject }
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with: { name: rugby }
      - run: chmod +x rugby && echo `pwd` >> $GITHUB_PATH
      - run: rugby -h
      - uses: maxim-lobanov/setup-xcode@v1
        with: { xcode-version: '12.5.1' }

      # Prepare TestProject
      - uses: ruby/setup-ruby@v1
        with: { ruby-version: 2.7.2, bundler-cache: true, working-directory: TestProject }
      - run: bundle
        working-directory: ${{ env.project-directory }}
      - uses: actions/cache@v2
        with:
          path: TestProject/Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('Podfile.lock') }}
          restore-keys: ${{ runner.os }}-pods-

      # Tests
      - name: Tests
        run: bundle exec fastlane focus_tests
        working-directory: ${{ env.project-directory }}
#==========================================================================
  plans:
    needs: rugby-12.5.1
    runs-on: macos-11.0
    env: { project-directory: ./TestProject }
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with: { name: rugby }
      - run: chmod +x rugby && echo `pwd` >> $GITHUB_PATH
      - run: rugby -h
      - uses: maxim-lobanov/setup-xcode@v1
        with: { xcode-version: '12.5.1' }

      # Prepare TestProject
      - uses: ruby/setup-ruby@v1
        with: { ruby-version: 2.7.2, bundler-cache: true, working-directory: TestProject }
      - run: bundle
        working-directory: ${{ env.project-directory }}
      - uses: actions/cache@v2
        with:
          path: TestProject/Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('Podfile.lock') }}
          restore-keys: ${{ runner.os }}-pods-

      # Tests
      - name: Tests
        run: bundle exec fastlane plans_tests
        working-directory: ${{ env.project-directory }}